*
{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width: 67%;}
    #secondary { width:30%; margin-left: 3%;}
}

/* Media Queries: Tablet Portrait */
@media screen and (max-width: 768px) {
    #primary { width: 100%;}
    #secondary { width:100%; margin: 0; border: none;}
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(../img/snoowfytol.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.top-afk
{
    color: white;
    text-decoration: none;
}
.logo
{
    width: 200px;
    cursor: pointer;
}
.navbar
{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    padding: 10px 25px;
    background: transparent;
    color: aqua;
    border: 3px solid #fff;
    border-radius: 70px;
    outline: none;
    cursor: pointer;
}
.content
{
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
h1
{
    font-size: 70px;
    margin: 10px 0 30px;
    line-height: 80px;
}
.side-bar
{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#078a99, #037981);
    position: absolute;
    right: 0;
    top: 0;
}
.menu
{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}
.adowhybn-links img{
    width: 30px;
    margin: 5px auto;
    cursor: pointer;
}
.wtf-links img{
    width: 30px;
    margin: 5px auto;
    cursor: pointer;
}
.adowhybn-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.wtf-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}
.snowafk img{
    width: 50px;
    animation: snowafkr 7s linear infinite;
}
.snowafk {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -69px;
}

@keyframes snowafkr{
    0%{
        transfrom: translateY(0);
        opacity: 0;
    }
    40%{
    
        opacity: 0.5;
    }
    65%{
    
        opacity: 1;
    }
    85%{
    
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}


.snowafk img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.snowafk img:nth-child(2){
    animation-delay: 1s;
}
.snowafk img:nth-child(3){
    animation-delay: 3s;
    width: 28px;
}
.snowafk img:nth-child(4){
    animation-delay: 4.1s;
}
.snowafk img:nth-child(5){
    animation-delay: 3.2s;
    width: 29px;
}
.snowafk img:nth-child(6){
    animation-delay: 5.8s;
}
.snowafk img:nth-child(7){
    animation-delay: 4.6s;
}
.snowafk img:nth-child(8){
    animation-delay: 7.4s;
    width: 30px;
}
footer{
    display: flex;
    background-color: #078a99;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    border-top: 1px solid white;
    justify-content: center;
    align-items: center;
}
.footerfy{
    color: rgb(34, 36, 35);
    font-family: sans-serif;
    margin: auto;
}